*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homepage_title{
  padding-top: 50px;
  font-family: monospace;
  color: #A41CE3;
  letter-spacing: 3px;
  font-weight: 100;
  text-shadow: 1px 1px .1px #3BCC75;
  font-style: italic;
  font-size: 60px;
  text-align: center;
  border: black 3px solid;
  width: 100%;
}

.site_logo{
  height: 100px;
  width: 100px;
  padding-left: 10px;
  position: absolute;
  left: 1%;
  border: black 3px solid;


}

.header{
  text-align: center;
  overflow: hidden;
  width: 100%;
  border: black 3px solid;
}

.navBar{
  width: 33%;
}

.signup_btn{
 /* position: absolute; */
 float: right;
 margin-right: 20px;
 display: inline-flex;
 background-color: #36454F;
 color: white;
 border-radius: 18px;
 font-size: 24px;
 padding: 10px 20px;
 border: black 3px solid;
 cursor: pointer;

 
}

.footer {
  margin-top:  100px;
  margin-left: 10px;
}

ul {
  list-style-type: none;
}

.gameImg {
  float: left;
  width: 150px;
  height: 150px;
  padding-left: 25px;
}

p{
  display: inline;
  overflow: auto;
  width:auto;
}

.gameContainer {
  overflow: hidden;
  margin: 10px;
  text-align: center;
}