*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 10vmax;
  padding-right: 5vw;
  padding-left: 5vw;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homepage_title{
  padding-top: 50px;
  padding-left: 80px;
  font-family: monospace;
  color: #A41CE3;
  letter-spacing: 3px;
  font-weight: 100;
  text-shadow: 1px 1px .1px #3BCC75;
  font-style: italic;
  font-size: 60px;
  text-align: center;
  /* border: black 3px solid; */
  width: 100%;
}

.site_logo{
  height: 100px;
  width: 100px;
  padding-left: 10px;
  position: absolute;
  left: 1%;
  /* border: black 3px solid; */


}

.header{
  text-align: center;
  overflow: hidden;
  width: 100%;
  /* border: black 3px solid; */
}

.navBar{
  width: 33%;
}

.signup_btn{
 /* position: absolute; */
 float: right;
 margin-right: 20px;
 display: inline-flex;
 background-color: #36454F;
 color: white;
 border-radius: 18px;
 font-size: 24px;
 padding: 10px 20px;
 border: black 1px solid;
 cursor: pointer;

 
}

.footer {
  margin-top:  100px;
  margin-left: 10px;
}

ul {
  list-style-type: none;
}

.gameImg {
  float: left;
  width: 150px;
  height: 150px;
  padding-left: 25px;
}

p{
  display: inline;
  overflow: auto;
  width:auto;
}

.gameContainer {
  overflow: hidden;
  margin: 10px;
  text-align: center;
}

.loginHeader {
  text-align: center;
  font-family: monospace;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}

.highScoreContainer{
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 1px #36454F;
  outline: 2px solid #36454F;
  outline-offset: -1rem;
  outline-style: outset;

  
}

.columnTitle{
  letter-spacing: 5px;
  font-size: 30px;
  font-weight: 100;
}

.column{
  text-align: center;
  display: inline;
  width: 33%;
  float: right;
  font-family: monospace;
  font-weight: 100;
  font-size: 15px;
  
}

.highScoreTitle{
  text-align: center;
  font-family: monospace;
  font-size: 20px;
  font-weight: 100;
}

.nameInfo{
  display: block;
}

.Pong{
  color: #E0D361;
  font-family: 'Courier New', Courier, monospace;
}
.Snake{
  color: #24BF21;
  font-family: 'Courier New', Courier, monospace;

}
.Asteroids{
  color: #D34747;
  font-family: 'Courier New', Courier, monospace;

}
.Frogger{
  color: #21B6BF;
  font-family: 'Courier New', Courier, monospace;
  
}

.gameTabButton {
  background-color: #36454F;
  color: #3BCC75;
  border-radius: 18px;
  font-size: 20px;
  font-weight: 100;
  padding: 10px 20px;
  border: black 1px;
  cursor: pointer;
  padding-left: 1%;
  margin-right: -10px;
}

.signup-btn{
  background-color: #36454F;
  color: white;
  border-radius: 18px;
  font-size: 20px;
  font-weight: 100;
  padding: 10px 20px;
  border: black 1px;
  cursor: pointer;
  margin-right: 10px;
}

.login-btn{
  background-color: #36454F;
  color: white;
  border-radius: 18px;
  font-size: 20px;
  font-weight: 100;
  padding: 10px 20px;
  border: black 1px;
  cursor: pointer;
  margin-right: 10px;
}

input{
  display: block;
  margin: 10px auto;
  width: 30%;
}

label{
  display: inline-block;
}

.formContainer{
  text-align: center;
  display: block;
}