*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homepage_title{
  padding-top: 50px;
  font-family: monospace;
  color: #A41CE3;
  letter-spacing: 3px;
  font-weight: 100;
  text-shadow: 1px 1px .1px #3BCC75;
  font-style: italic;
  font-size: 60px;
}

.site_logo{
  height: 100px;
  width: 100px;
  padding-left: 10px;
  position: absolute;
  left: 1%;
}

.header{
  text-align: center;
  overflow: hidden;
}

.signup_btn{
 position: absolute;
 right: 1%;
 width: 8%;
 display: inline;
 
}

ul {
  list-style-type: none;
}

.gameImg {
  float: left;
  width: 150px;
  height: 150px;
  padding-left: 25px;
}

p{
  display: inline;
  overflow: auto;
  width:auto;
}

.gameContainer {
  overflow: hidden;
  margin: 10px;
  text-align: center;
}